/* https: //coolors.co/333745-e63462-fe5f55-c7efcf-eef5db */

/* #333745 */
/* #e63462 */
/* #fe5f55 */
/* #c7efcf */
/* #eef5db */

.board {
    background-color: #333745;
    height: 100vh;
    width: 100vw;
}