/* https: //coolors.co/333745-e63462-fe5f55-c7efcf-eef5db */

/* #333745 */
/* #e63462 */
/* #fe5f55 */
/* #c7efcf */
/* #eef5db */

.board {
  background-color: #333745;
  height: 90vh;
  width: 90vw;
  margin: auto;
  margin-top: 3vh;
  padding-right: 3px;
  padding-top: 8px;
}

.off {
  background-color: #e63462;
  height: 3vh;
  width: 3vh;
  margin-left: 4px;
  margin-top: 1px;
  display: inline-block;
}

.on {
  background-color: #c7efcf;
  height: 3vh;
  width: 3vh;
  margin-left: 4px;
  margin-top: 1px;
  display: inline-block;
}

.border {
  background-color: #333745;
  height: 3vh;
  width: 3vh;
  margin-left: 4px;
  margin-top: 1px;
  display: inline-block;
}

button {
  background-color: #e63462;
  border: none;
  font-size: larger;
  border-radius: 4px;
  padding: 4px 10px;
  margin: 5px 10px;
}

button:hover {
  cursor: pointer;
  background-color: #e63462;
  border: none;
  font-size: larger;
  border-radius: 4px;
  padding: 4px 10px;
  margin-top: 5px;
}